IO_LOC  "led[3]" 24;

IO_LOC  "led[4]" 23;

IO_LOC  "led[5]" 22;

IO_LOC  "clk" 47;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "led[0]" 11;
IO_PORT "led[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "led[1]" 9;
IO_PORT "led[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "led[2]" 10;
IO_PORT "led[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "btn1" 13;
IO_PORT "btn1" IO_TYPE=LVCMOS33;
