IO_LOC  "clk_i" 47;
IO_PORT "clk_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "rst_i" 44;
IO_PORT "rst_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "uart_rx_i" 29;
IO_PORT "uart_rx_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "uart_tx_o" 30;
IO_PORT "uart_tx_o" IO_TYPE=LVCMOS33 PULL_MODE=UP;
